.banner-container {
  background-image: url("https://lp-cms-production.imgix.net/2021-04/500pxRF_100050585.jpg?auto=format&fit=crop&sharp=10&vib=20&ixlib=react-8.6.4&w=850");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: auto;
  height: auto;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
  color: white;
  min-height: 70vh;
}
